* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}
.jumbotron-above{
    background: url(https://www.gonomad.com/images/destinations/0701/cleveland-images/North-Coast-Harbor-Skyline.jpg) no-repeat 50% 50%;
    background-size: 100%;
    display:flex;
    align-content:center;
    justify-items:center;
    align-items:center;
}

h1{
    color: darkblue;
    font-style: italic;
    font-weight: 600;
    margin-bottom: 0px;
}
.navbar {
    background: darkblue;
}


.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

}
li:hover {
    background-color: white;
}

a {
    font-size: 12px;
    font-weight: 500;
}
a.hover_darkblue:hover {
    color: darkblue !important;
}

a.active {
    background: white;
    color: darkblue;
    width: 100%;
    font-weight: 700;
}
a.btn {
    background: darkblue;
    color: white;
    
}
h2 {
    color: darkblue;
}
.bar {
    height: 4px;
    background-color: darkblue;
}

hr {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.card-img-top {
    height: 200px;
}
.contact-container {
    margin-top: 100px;
    margin-bottom: 100px;
}
.image-container {
    position: relative;
    display: inline-block;
    width: 100vw;
    height: 100vh;
}
.image-container img {display: block;}
.image-container .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
  
}
img {
    width: 100%;
    height: 100vh;
}
.image-container:hover .after {
    display: block;
    background: rgba(4, 18, 216, 0.6);
}
.image-container .after .content {
    position: absolute;
    top: 10%;
    left: 15%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    width: 70%;
    font-size: 20px;
    font-weight: 800;
    box-sizing: border-box;
    padding: 5px;
}
.image-container .after .grp_button1 {
    color: darkblue;
    background: white;
    font-size: 20px;
    position: absolute;
    bottom: 15%;
    left: 25%;
    height: 50px;
    width: 200px;
    cursor: pointer;
    text-align: center;
    padding-top: 5px;
}
.image-container .after .grp_button2 {
    color: darkblue;
    background: white;
    font-size: 20px;
    position: absolute;
    bottom: 5%;
    left: 25%;
    height: 50px;
    width: 200px;
    cursor: pointer;
    text-align: center;
    padding-top: 5px;
}
.image-container .after .grp_button1:hover,
.image-container .after .grp_button2:hover {
    color: white;
    background: darkblue;
}
 
.size{
    color: darkblue;
    font-size: 16px;
    font-style: italic;
    text-decoration: none;
}
.email-text {
    font-size: 14px;
}
.card-contact {
    color: darkblue;
}

.divide-bar {
    margin-top: 40px;
 
}
.jumbotron {
    background: url(https://www.gonomad.com/images/destinations/0701/cleveland-images/North-Coast-Harbor-Skyline.jpg) no-repeat 50% 50%;
    background-size: 100%;
    height: 100px;
}
.jumbotron-contact {
    height: 130px;
}

.text-footer{
    color: darkblue;
    font-weight: bolder;
}

@media screen and (min-width: 768px) and (max-width: 1023){
    .image-container .after .grp_button1 {
        bottom: 20%;
        left: 5%;
        width: 300px;
    }
    .image-container .after .grp_button2 {
        bottom: 20%;
        left: 55%;
        width: 300px;
    }
    .image-container .after .content {
        top: 20%;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1799px) {
    .image-container .after .grp_button1 {
        bottom: 20%;
        left: 15%;
        width: 300px;
    }
    .image-container .after .grp_button2 {
        bottom: 20%;
        left: 55%;
        width: 300px;
    }
    .image-container .after .content {
        top: 25%;
    }
    .home-screen {
        font-size: 30px;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .rounded-circle {
        width: 300px;
        height: 300px;
        margin-top: 240px;
    }
    .home-content {
        text-align: left;
    }
    .about-content {
        font-size: 30px;
        margin-top: 200px;
        margin-bottom: 200px;
    }
    .contact-container {
        margin-top: 370px;
        margin-bottom: 370px;
    }
}
@media screen and (min-width: 1800px) {
    .image-container .after .grp_button1 {
        bottom: 20%;
        left: 45%;
        width: 400px;
    }
    .image-container .after .grp_button2 {
        bottom: 20%;
        left: 55%;
        width: 400px;
    }
    .image-container .after .content {
        top: 25%;
    }
}


@media screen and (min-width: 768px) and (max-width: 900px) {
    .email-text {
        font-size: 8px;
    }
    .size {
        font-size: 10px;
    }
    .phone-text {
       padding-top: 10px;
    }

}



