* {
    box-sizing: border-box;
}




.jumbotron-above{
  background: url(https://www.gonomad.com/images/destinations/0701/cleveland-images/North-Coast-Harbor-Skyline.jpg) no-repeat 50% 50%;
  background-size: 100%;
  display:flex;
  align-content:center;
  justify-items:center;
  align-items:center;
}

h1{
    color: darkblue;
    font-style: italic;
    font-weight: 600;
    margin-bottom: 0;
}

.navbar {
  background-color: darkblue;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

}

li:hover {
    background-color: white;
}
a{
    font-size: 12px;
    font-weight: 500;
}

a.active {
    background: white;
    color: darkblue;
    width: 100%;
    font-weight: 700;
}
a.hover_darkblue:hover {
  color: darkblue !important;
}

h2 {
    color: darkblue;
}
.bar {
  height: 4px;
  background-color: darkblue;
}

hr {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
 h5 {
    font-weight: bolder;
 }
img {
    vertical-align: middle;
  }

/* Position the image container (needed to position the left and right arrows) */
.container-fluid {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 20%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: white;
    font-size: 15px;
    /* font-weight: bolder; */
    padding: 8px 12px;
    position: absolute;
    top: 51px;
}

/* Container for image text */
.caption-container {
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  background-color: darkblue;
  color: white;
  margin: 0px;
  padding: 0px;
}
.caption-container #caption {
    margin: 0;

}
 .row:after {
  content: "";
  display: table;
  clear: both;
  margin: 0px;
  padding-bottom: 0px;
} 
.container-1 {
    font-size: 0;
}
.btn{
    display: inline-block;
    width: 50%;
    margin: 0;
    padding: 0;
    background: white;
    color: darkblue;
    font-weight: bold;
}
.btn:hover {
    background: darkblue;
    color: white;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.jumbotron {
  background: url(https://www.gonomad.com/images/destinations/0701/cleveland-images/North-Coast-Harbor-Skyline.jpg) no-repeat 50% 50%;
  background-size: 100%;
  height: 120px;
}

.text-footer{
  color: darkblue;
  font-weight: bolder;
}

@media screen and (min-width: 375px) {

  .numbertext {
    top: 10px;
  }
}
@media screen and (min-width: 1024px) {
 .jumbotron {
   margin-top: 100px;
} 
   
}